<% include ../partial/header %>
<div class="container-fluid">
<% include ../partial/side %>

<div class="main">
	<div class="row" >
		<% confession.forEach(function(conf){ %>
			<div class="col-md-3 col-sm-6"> 
				<div class="thumbnail">
						<div class="caption">
		
							<div class="text-left" style="background-color:pink"><%= conf.category %></h4>
							</div>
						</div>
						<div class="caption">
							<h4 class="text-center"><%= conf.description %></h4>
						</div>
						<p>
							<a style="cursor:pointer" onclick="counter()" ><i style="font-size:24px" class="fa">&#xf087;</i><span id="like"><%= conf.like %><span></a>
						</p>
						<p>
							<a class="btn btn-primry btn-sm" href="/confession/<%= conf._id %>" >more info</a>
						</p>

				</div>
			</div>
		<% }); %>
	</div>
</div>
</div>
<% include ../partial/footer %>