<!-- Footer -->
<footer >

    <!-- Footer Elements -->
    <div class="footer-links">
            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com">
              <i class="fa fa-facebook "> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://www.twitter.com">
              <i class="fa fa-twitter "> </i>
            </a>
            
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com">
              <i class="fa fa-instagram "> </i>
            </a>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright">© 2018 Copyright:
      <a href="#"> RandomConfess.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script>
  function counter(){
	like=document.querySelector("#like").innerText;
  	like=Number(like);
  	console.log(like);
  	like+=1;
  	console.log(like);
  	document.querySelector('#like').innerText=String(like);
  }

  let mainNav = document.getElementById('js-menu');
let navBarToggle = document.getElementById('js-navbar-toggle');

navBarToggle.addEventListener('click', function () {
    
    mainNav.classList.toggle('active');
});
 
</script>
	</body>
</html>
