<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-5x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://www.twitter.com">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-5x"> </i>
            </a>
            
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-5x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script>
  function counter(){
	like=document.querySelector("#like").innerText;
  	like=Number(like);
  	console.log(like);
  	like+=1;
  	console.log(like);
  	document.querySelector('#like').innerText=String(like);
  }
  </script>
	</body>
</html>
