	<section >
			<div class="category" id="dream"><i class="em em-crescent_moon"></i> dream</div>
			<div class="category" id="fantasy"><i class="em em-kiss"></i></i> fantasy</div>
			<div class="category" id="firstexp"><i class="em em-raising_hand"></i> first experience</div>
			<div class="category" id="guilt"><i class="em em-confounded"></i> guilt</div>
			<div class="category" id="lie"><i class="em em-speak_no_evil"></i></i> lie</div>
			<div class="category" id="pain"><i class="em em-disappointed_relieved"></i> pain</div>
			<div class="category" id="randomfeeling"><i class="em em-right_anger_bubble"></i> random feeling</div>
			<div class="category" id="wildexp"><i class="em em-lion_face"></i> wildexperience</div>
			<div class="category" id="other"><i class="em em-drooling_face"></i> other</div>
	</section>

